.categories {
  margin-bottom: 2rem;
  border-bottom: 2px solid #2b2828;
  box-shadow: 0 1px 11px 1px black;
}

.categories-title {
  font-size: 48px;
  text-align: center;
  color: #ffffffc7;
  margin-top: 100px;
  padding: 1rem 0;
}

.categories-content {
  display: flex;
  justify-content: space-around;
  margin-top: 40px;
  border-bottom: 2px solid #2b2828;
  padding-bottom: 40px;
}

.categories-item {
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  color: white;
  background-color: #2b2929;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.categories-item:hover {
  transform: scale(1.2);
  color: #ffc010;
  background-color: transparent;
  border: 3px solid #ffc010;
  box-shadow: 0 0 7px 4px #ffc010;
}

.categories-item div {
  font-size: 4rem;
}
