.drop-down {
  margin-bottom: 0;
  position: absolute;
  top: 100px;
  list-style: none;
  text-align: center;
  z-index: 1;
}

.drop-down a {
  padding: 0;
  width: 100%;
  font-size: 22px;
}

.drop-down a:hover {
  color: #ffc010;
  background-color: transparent !important;
}

.drop-down li {
  height: 45px;
  background: rgba(26, 26, 26, 0.9);
  cursor: pointer;
}

.drop-down-visible {
  display: none;
}

.drop-down link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
}
