.loader{
  width: 2rem;
  height: 2rem;
  margin: 1rem auto;
  border-radius: 50%;
  border-right: 5px solid #363682;
  animation: loader 0.8s linear infinite;
  position: absolute;
  right: 130px;
  top: 20px;
}

@keyframes loader {
  from{
    transform: rotate(0);
  }
  to{
    transform: rotate(360deg);
  }
}
