.drop-down {
  margin: 0 !important;
  font-size: 15px !important;
}

.drop-down a {
  font-size: 25px;
  font-weight: 300;
  text-align: center;
  border: none;
  width: 100%;
  border-bottom: 2px solid #ffffffc7;
  transition: 0.7s ease;
  padding: 0;
}

.drop-down a:hover {
  background-color: transparent !important;
  border-bottom: 2px solid black;
}
