@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";
@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;600&display=swap');

body {
  height: 100%;
  min-width: 900px;
  font-family: "Barlow", sans-serif;
  color: #ffffffc7;
  line-height: 26px;
  background-image: url(../assets/images/background.png);
  background-color: #190f1f;
}

html {
  position: relative;
  min-height: 90vh;
}

h1,
h2 {
  font-family: "Teko", sans-serif;
  font-style: normal;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #ffffffc7;
}
