@import "normalize.css";
@import "sanitize.css";
@import "fontface.css";

body {
  font-family: "OpenSans-Regular", sans-serif;
  position: relative;
}

h1 {
  margin: 30px;
}

h2 {
  font-size: 50px;
  display: block;
  background-color: white;
}

::placeholder {
  /*test for autoprefixer in postcss*/
  color: antiquewhite;
}

.test-block {
  border: 4px dotted black;
  /* stylelint-disable-next-line plugin/no-unsupported-browser-features*/
  display: flex;
  flex-direction: column;
  align-items: center;
}

.test-block + .test-block {
  margin-top: 20px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #1b1b1b;
}
.header {
  min-height: 90vh;
}
.header_container {
  display: flex;
  justify-content: space-between;
}

.header_nav {

  margin: 30px;
}

.header_nav-link {
  margin: 20px;
}

.header_nav-link a {
  line-height: 36px;
  border: 1px solid transparent;
  padding: 0px 16px;
  transition: all .3s;
}

.header_nav-link a.header_nav-activeLink {
  color: #bf2222;
}

.header_nav-link a:hover {
  border-color: #bf2222;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  height: 200px;
  text-align: center;
}

.footer_image img {
  width: 100px;
  height: 100px;
}

.footer_image {
  margin: 30px 50px 0px 20px;
}
