.filter_container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.filter_form {
  margin: 70px 0 0 30px;
  padding: 15px 30px 15px 15px;
  width: 350px;
  min-height: 500px;
  border-radius: 10px;
  background: rgba(26, 26, 26, 0.4);
}

.filter_title {
  color: #ffc010;
  font-size: 20px;
  border-bottom: 1px solid #ffffffc7;
  padding-bottom: 8px;
}

input[type="radio"]:checked:after {
  width: 15px;
  height: 15px;
  border: 3px solid #ffffffc7;
  border-radius: 10px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #ffc010;
  content: "";
  display: inline-block;
  visibility: visible;
}

.filter_box {
  display: flex;
  flex-direction: column;
}

.filter_box span {
  padding-left: 10px;
  color: #ffffffc7;
}

@media (max-width: 1300px) {
  .filter_form {
    width: 250px;
  }
}
