.gameCards {
  max-width: 320px;
  border-radius: 1rem;
  overflow: hidden;
  transition: box-shadow 0.2s ease;
  border: 2px solid #ffffffc7;
  box-shadow: 0 1px 11px 1px black;
}

.gameCards :hover{
  box-shadow: 0 0 5px 2px #ffc010;
}

.gameCards_inner {
  display: flex;
  justify-content: center;
}

.gameCards_container {
  margin: 80px 0;
  text-align: center;
  display: grid;
  grid-template-columns: 1.5fr 1.5fr 1fr;
  column-gap: 5em;
}

.gameCards_content{
  margin-bottom: 0.5rem;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.gameCards-img img{
  width: 200px;
  height: 270px;
}

.gameCards-about {
  margin-top: 20px;
  padding: 10px;
  color: #ffffffc7;
}

.gameCards-title{
  margin-bottom: 1rem;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffffffc7;
}
