.gameCards {
  width: 270px;
  background-color: #190b25;
}

.gameCards_content {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

img {
  width: 100%;
  height: 270px;
}

.gameCards_container {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.gameCards-top-title {
  margin: 2em 0 1em 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

h4 {
  margin-bottom: 0;
}

.gameCards-title {
  background-color: #ffffffc7;
  width: 100%;
  height: 100px;
  color: #190b25;
  font-size: 15px;
  text-transform: uppercase;
  letter-spacing: 1.8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.gameCards-title:hover {
  background-color: #ffc010;
  transition: 0.5s ease-out;
}

.gameCards-about {
  font-family: "Teko", sans-serif;
  font-size: 20px;
  letter-spacing: 1.3px;
  color: black;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  overflow: auto;
  background-color: #ffc010;
  transform: translateY(100%);
  transition: 0.5s ease-out;
  position: absolute;
}

.game-card_btn {
  font-size: 0.8rem;
  padding: 0.2rem;
  margin: 0.1rem;
  background-color: white;
  width: 100%;
  cursor: pointer;
}

.gameCards_content:hover .gameCards-about {
  background-color: #ffc010;
  transform: translateY(0%);
}

.games-wrapper {
  margin-left: 70px;
  padding-top: 50px;
  width: 88%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
}


@media (max-width: 1300px) {
  .gameCards_container {
    display: block;
  }

  .gameCards {
    display: inline-block;
    max-width: 300px;
    margin: 20px;
  }

  .games-wrapper {
    margin-left: 20px;
    display: block;
  }
}

@media (max-width: 1660px) {
  .games-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .games-wrapper {
    float: right;
  }
}
