.gameCards {
  width: 270px;
  height: 400px;
  cursor: pointer;
  background-color: rgba(26, 26, 26, 0.8);
  border-radius: 10px;
}

.center {
  position: absolute;
  top: -400px;
}

.front {
  transform: perspective(600px) rotateY(0deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform 0.6s linear;
  position: relative;
}

.back {
  transform: perspective(600px) rotateY(180deg);
  background-color: #1a0e22;
  border-radius: 10px;
}

.gameCards:hover > .front {
  transform: perspective(600px) rotateY(-180deg);
}

.gameCards:hover > .back {
  transform: perspective(600px) rotateY(0deg);
}

.back-content {
  width: 100%;
  height: 90%;
  padding: 0 15px 0 15px;
  text-align: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

img {
  width: 100%;
  max-height: 300px;
  border-radius: 10px;
}

.gameCards-descr {
  letter-spacing: 1.2px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

.gameCards-cart {
  display: flex;
  justify-content: space-around;
}

.gameCards-cart svg {
  font-size: 40px;
  color: #ffc010;
}

h4 {
  margin-bottom: 0;
}

.gameCards__about {
  width: 100%;
  height: 100px;
  color: #fff;
  letter-spacing: 1.8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  align-items: center;
}

.gameCards__about h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

.gameCards-top-title {
  margin: 2em 0 1em 0;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
}

.games-wrapper {
  margin-left: 70px;
  padding-top: 50px;
  width: 88%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
}

@media (max-width: 1660px) {
  .games-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1000px) {
  .games-wrapper {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
}

@media (max-width: 680px) {
  .games-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
  }
}
