.modal {
  margin: 100px auto 40px auto;
  width: 420px;
  min-height: 300px;
  background: rgba(26, 26, 26, 0.4);
  border-radius: 10px;
  box-shadow: 0 1px 8px 1px #ffc010 inset;
}

.modal__title {
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  text-align: center;
  color: #ffc010;
  margin-bottom: 2rem;
  padding: 0.5rem;
}

.modal__input {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal__input:nth-child(2) {
  margin-bottom: 2rem;
}

.modal__close-btn {
  top: 8px;
  left: 91%;
  font-size: 1.5rem;
  color: rgba(255, 192, 16, 0.7);
  position: relative;
}

.modal__close-btn:hover {
  color: #ffc010;
}

.modal__input label {
  font-family: 'Teko', sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  color: #ffffffc7;
  padding-left: 40px;
}

.modal__input input {
  margin-right: 15px;
  color: black;
  outline: #ffc010;
  border: 2px solid #2d3547;
  border-radius: 6px;
  padding: 7px 10px;
}

.modal__btn {
  font-family: 'Teko', sans-serif;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.4px;
  padding: 0.3rem 1.3rem;
  border-radius: 6px;
  border: 0;
  background-color: rgba(255, 192, 16, 0.8);
  cursor: pointer;
}

.modal__btn:hover {
  background-color: #ffc010;
}

.modal__btn-container {
  padding: 10px 0 20px 0;
  text-align: center;
}

.modal__warning {
  font-family: 'Teko', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  color: #d93025;
  position: relative;
  left: 220px;
  top: 57px;
}

.user-page__form-box .modal__warning {
  position: relative;
  top: 100px;
  left: 8px;
}

@media (max-width: 520px) {
  .modal__input {
    flex-direction: column;
  }
  .modal__container {
    width: 320px;
    min-height: 350px;
  }
  .modal__input label {
    padding-left: 0;
  }
}
