.cart__box {
  margin: 5rem;
  min-height: 200px;
  border-radius: 10px;
  background: rgba(26, 26, 26, 0.5);
}

.cart__container {
  width: 100%;
  height: 20%;
  border: 2px solid rgba(255, 192, 16, 0.7);
  border-radius: 10px;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  color: #ffffffc7;
}

.cart__title {
  font-family: "Barlow", sans-serif;
  font-weight: 500;
  font-size: 25px;
  text-align: center;
  color: #f33;
  margin-top: 100px;
}

.cart__games-box {
  width: 100%;
  height: 130px;
  padding-left: 30px;
  padding-right: 30px;
  display: grid;
  grid-template-columns: 1fr 0.02fr;
  border-bottom: 2px solid rgba(255, 192, 16, 0.4);
}

.cart__games-container {
  color: #ffffffc7;
  display: grid;
  grid-template-columns: 1.4fr 1.2fr 1.2fr 1.2fr 0.4fr;
  align-items: center;
}

.cart__btn-order {
  text-align: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.cart__btn-order button {
  font-family: "Teko", sans-serif;
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 1.4px;
  padding: 0.4rem 3.5rem;
  border-radius: 10px;
  color: #fff;
  text-transform: uppercase;
  background: none;
  border: 1px solid rgba(255, 192, 16, 0.7);
  cursor: pointer;
}

.cart__btn-order button:hover {
  background: #ffc010;
  font-weight: 500;
  transition: 0.5s ease;
}

.cart__btn-amount {
  display: flex;
  justify-content: space-between;
  width: 4rem;
}

.cart__games-category {
  width: 250px;
  display: flex;
  align-items: center;
}

.cart__games-img {
  border-radius: 10px;
  width: 95px;
  height: 100px;
}

.cart__games-title {
  width: 8em;
  text-align: center;
  padding-left: 20px;
}

.cart__btn-close {
  display: flex;
  align-items: center;
  color: #ffffffc7;
}

.cart__btn-order-title {
  font-family: "Teko", sans-serif;
  letter-spacing: 1.4px;
  font-size: 20px;
  color: #ffffffc7;
}

select {
  border-radius: 10px;
}

@media (max-width: 1300px) {
  .cart__games-container {
    grid-template-columns: 1.2fr 1.2fr 1.2fr 1.2fr 0.4fr;
  }
  .cart__games-category {
    width: 180px;
  }
  .cart__games-img {
    width: 80px;
  }
  .cart__games-title {
    padding-left: 5px;
  }
}
@media (max-width: 1156px) {
  .cart__games-box {
    padding-left: 5px;
  }
  .cart__games-category {
    width: 100px;
  }
  .cart__games-img {
    display: none;
  }
}

@media (max-width: 680px) {
  .cart__games-box {
    padding-right: 0;
  }
  .cart__games-container {
    font-size: 15px;
  }
  .cart__games-title {
    width: 5em;
  }
  .cart__games-box select {
    width: 50px;
  }
}
