.searchBar{
  max-width: 31.25rem;
  margin: 30px;
}

.searchBar_input{
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  border: 2px solid #bf2222;
  border-radius: 1rem;
  color:#bf2222;
  background-color: transparent;
  outline: 0;
}

.searchBar_input:focus{
  border: 2px solid palevioletred;
  box-shadow: 0 0 2px 1px #bf2222;
}

.searchBar_input::placeholder{
  color: #bf2222;
  text-align: center;
  text-transform: capitalize;
}

.searchBar_button {
  padding: 0.5rem 1.2rem;
  font-size: 1.2rem;
  border: 2px solid #bf2222;
  border-radius: 1rem;
  color:#bf2222;
  background-color: transparent;
  outline: 0;
}
