.searchBar_input {
  margin-right: 16px;
  width: 100%;
  background: none;
  border: 2px solid #2d3547;
  border-radius: 6px;
  padding: 7px 10px;
  color: #fff;
}

.searchBar-btn {
  position: absolute;
  border: none;
  right: 0;
  border-radius: 6px;
  background: rgba(255, 192, 16, 0.8);
  padding: 8px 14px;
  top: 0;
  cursor: pointer;
  height: 100%;
}

.searchBar-btn-item {
  font-size: 20px;
}

