.searchBar_input {
  width: 88%;
  margin-left: 70px;
  background: none;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 6px;
  padding: 7px 10px;
  color: #fff;
}

.searchBar-btn {
  position: absolute;
  border: none;
  right: 0;
  border-radius: 6px;
  background: rgba(255, 192, 16, 0.8);
  padding: 8px 14px;
  top: 0;
  cursor: pointer;
  height: 32px;
}

.searchBar-btn-item {
  font-size: 20px;
  color: #fff;
}

.searchBar_homePage .searchBar_input {
  width: 80%;
  margin-top: 20px;
  margin-left: 0;
  left: 10%;
  position: relative;
}

@media (max-width: 600px) {
  .searchBar_input {
    min-height: 40px;
  }
  .searchBar-btn {
    height: 40px;
  }
}
