a {
  text-decoration: none;
  display: inline-block;
  color: #1b1b1b;
}


.header_container {
  display: flex;
  justify-content: space-between;
}

.header_nav {
  font-size: 2.5vh;
  margin: 30px;
}

.header_nav-link {
  margin: 20px;
}

.header_nav-link a {
  line-height: 36px;
  border: 1px solid transparent;
  border-radius: 1rem;
  padding: 0px 16px;
  transition: all .3s;
}

.header_nav-link a.header_nav-activeLink {
  color: #363682;
}

.header_nav-link a:hover {
  border-color: #363682;
}
