.header_top-logo {
  min-height: 60px;
  background-color: rgba(26, 26, 26, 0.9);
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.header_btn-authorization {
  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 1px;
  width: 150px;
  margin-right: 16px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  right: 0;
}

.header-cart {
  font-size: 30px;
  color: #ffffffc7;
}

.header_btn-signup {
  border: 1px solid #ffffffc7;
  border-radius: 6px;
  padding: 8px 5px 8px 5px;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #ffffffc7;
}

span {
  color: #ffc010;
}

.header_menu {
  min-height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(26, 26, 26, 0.4);
}

.header_nav-menu {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.header_nav-menu a {
  font-family: "Teko", sans-serif;
  font-size: 30px;
  letter-spacing: 1.5px;
  padding: 0 25px;
  line-height: 60px;
  text-decoration: none;
  transition: all 0.3s linear 0.1s;
}

.header_nav-menu a:hover {
  color: #1a0e22;
  background: rgba(255, 192, 16, 0.9);
}

.header_authorization-item {
  height: 100%;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-right: 10px;
  position: absolute;
  right: 0;
}

.header_authorization-item svg {
  font-size: 25px;
}

.not-found {
  color: rgba(255, 192, 16, 0.8);
  padding-left: 5px;
  font-size: 0.8em;
}

@media (max-width: 1000px) {
  .header_menu {
    display: block;
  }

  .header_nav-menu {
    width: 100%;
    justify-content: space-around;
  }
}

@media (max-width: 700px) {
  .header_top-logo {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
  }
  .header_top-logo h1 {
    margin-left: 20px;
  }
  .header_nav-menu {
    justify-content: space-between;
  }
  .header_authorization-item {
    margin-top: 15px;
    width: 130px;
    justify-content: center;
    position: relative;
  }
}

@media (max-width: 520px) {
  .header_top-logo {
    display: block;
    min-height: 90px;
  }
  .header_top-logo h1 {
    text-align: center;
    margin: 0;
    padding-top: 10px;
  }
  .header_btn-authorization {
    min-width: 100%;
    justify-content: center;
    position: relative;
  }
  .header_btn-authorization a {
    margin: 0 10px 0 15px;
  }
  .header_btn-signup {
    border: none;
  }
  .header_authorization-item {
    margin-top: 15px;
  }
}

@media (max-width: 360px) {
  .header_nav-menu a {
    font-size: 20px;
  }
}
