footer {
  height: 0px;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_title {
  font-size: 48px;
  text-align: center;
  color: #ffffffc7;
  padding: 1rem 0;
}

.footer_image {
  padding-top: 80px;
  display: flex;
  justify-content: space-around;
}

.footer_image a {
  transition: 0.2s ease;
  font-size: 5.5em;

}

.footer_image a:hover {
  color: #ffc010;
  transform: scale(1.6);
  transition: all 0.5s ease-in-out;
}

li {
  list-style: none;
}





