 footer{
  margin-top: 2rem;
  border: 2px solid white;
  box-shadow: 0 1px 11px 1px black;
}

.footer_title{
  padding-top: 0.5rem;
  text-align: center;
}


.footer_image {
  padding: 1rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer_image a{
  transition: 0.2s ease;
}

.footer_image a:hover{
  color: #363682;
  transform: scale(1.2);
}

