footer {
  height: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer_container {
  min-width: 100%;
  background-image: url(../../assets/images/bg_header.png);
  background-color: rgba(26, 14, 34, 0.5);
}

.footer_title {
  margin-top: 100px;
  font-size: 48px;
  text-align: center;
  color: #ffffffc7;
  padding: 1rem 0;
}

span {
  color: #ffc010;
}

.footer_image {

  display: flex;
  justify-content: space-around;
  padding: 5vh 0 5vh 0;
}

.footer_image a {
  transition: 0.2s ease;
  font-size: 5.5em;
}

.footer_image a:hover {
  color: #ffc010;
  transform: scale(1.3);
  transition: all 0.5s ease-in-out;
}

li {
  list-style: none;
}

@media (max-width: 540px) {
  .footer_title span{
    display: block;
    padding-bottom: 20px;
  }
  .footer_image {
    font-size: 10px;
  }
}
